@import url('https://fonts.googleapis.com/css?family=Comfortaa:300|Quicksand:300');

// COLORS
$color-gray-1: #777;
$color-aqua-1: #009EC8;
$color-dark-text: #000;
$color-default-text: $color-gray-1;

// MIXINS
@mixin crossBrowser($property,$value){
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  $property: $value;
}

// TEMPORARY
.about,
.development,
.photography{
  height: 600px;
}

// GLOBALS
*{
  box-sizing: border-box;
}
html,body{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: $color-gray-1;
}
a{
  text-decoration: none;
  &:hover{
    color: $color-aqua-1;
  }
}
h1,h2,h3,h4,h5,p{
  margin: 0 0 10px;
}
h1,h2,h3,h4,h5,
.h1,.h2,.h3,.h4,.h5{
  font-family: 'Comfortaa', sans-serif;
  font-weight: 300;
  letter-spacing: 2px;
}
h1,.h1{
  font-size: 2.25em;
}
h2,.h2{
  font-size: 1.75em;
}
h3,.h3{
  font-size: 1.5em;
}
@media(min-width:768px){
  h1,.h1{
    font-size: 4em;
  }
  h2,.h2{
    font-size: 2.25em;
  }
  h3,.h3{
    font-size: 1.75em;
  }
  h4,.h4,p{
    font-size: 1.125em;
  }
  h5,.h5{
    font-size: 1em;
  }
}

// NAVIGATION
.nav{
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 999;
  .navIconInput{
    display: none;
  }
  .navMenu{
    max-height: 0;
    overflow: hidden;
    background-color: #fff;
    @include crossBrowser(animation,animateMenuRev 0.3s linear forwards);
    @include crossBrowser(box-shadow,3px 3px 3px rgba(0,0,0,0.1));
  }
  .navIconLabel{
    display: inline-block;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 14px;
    line-height: 6px;
    .bar{
      display: inline-block;
      height: 2px;
      width: 100%;
      background-color: #000;
    }
    .bar1{
      @include crossBrowser(animation,animateLine1Rev 0.3s linear forwards);
    }
    .bar2{
      @include crossBrowser(animation,animateLine2Rev 0.3s linear forwards);
    }
    .bar3{
      @include crossBrowser(animation,animateLine3Rev 0.3s linear forwards);
    }
  }
  .navMenuList{
    list-style-type: none;
    margin: 0;
    padding: 10px 50px 10px 20px;
    li{
      padding: 10px 0;
    }
    .navMenuLink{
      color: $color-dark-text;
      &:hover{
        color: $color-aqua-1;
      }
    }
  }
  .navIconInput:checked ~ .navIconLabel .bar1{
    @include crossBrowser(animation,animateLine1 0.3s linear forwards);
  }
  .navIconInput:checked ~ .navIconLabel .bar2{
    @include crossBrowser(animation,animateLine2 0.3s linear forwards);
  }
  .navIconInput:checked ~ .navIconLabel .bar3{
    @include crossBrowser(animation,animateLine3 0.3s linear forwards);
  }
  .navIconInput:checked ~ .navMenu{
    max-height: 1000px;
    @include crossBrowser(animation,animateMenuMobile 0.3s ease-out forwards);
  }
}
@media(min-width:768px){
  .nav{
    .navMenu{
      display: inline-block;
      vertical-align: top;
    }
    .navMenuList{
      padding: 15px 25px;
      li{
        display: inline-block;
        padding: 0 10px;
      }
    }
    .navIconInput:checked ~ .navMenu{
      @include crossBrowser(animation,animateMenuDesktop 0.3s ease-out forwards);
    }
  }
}

// BANNER
.banner{
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  .bannerOpacity{
    height: 100%;
    width: 100%;
    background-color: rgba(255,255,255,0.5);
  }
  .bannerHeader{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-40%);
    width: 100%;
    padding: 0 20px;
    color: $color-dark-text;
    text-align: center;
  }
}
@media(hover:hover){
  .banner{
    background-attachment: fixed;
  }
}

// SECTIONS
.section{
  margin: 0 20px;
  .sectionContainer{
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionHeader{
    text-align: center;
    h2{
      display: inline-block;
      &:after{
        content: "";
        display: block;
        width: 50%;
        height: 2px;
        background-color: $color-aqua-1;
        position: relative;
        bottom: -10px;
        left: 50%;
        @include crossBrowser(transform,translate(-50%,0));
      }
    }

  }
}
.sectionPadding{
  padding: 50px 0 50px;
}
@media(min-width:768px){
  .sectionPadding{
    padding: 100px 0 50px;
  }
}

// NAV ANIMATION OPEN
@-webkit-keyframes animateLine1{
  0%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(45deg));
  }
}
@keyframes animateLine1{
  0%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(45deg));
  }
}
@-webkit-keyframes animateLine2{
  0%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
  50%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
  100%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
}
@keyframes animateLine2{
  0%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
  50%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
  100%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
}
@-webkit-keyframes animateLine3{
  0%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(-45deg));
  }
}
@keyframes animateLine3{
  0%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(-45deg));
  }
}
// NAV ANIMATION CLOSE
@-webkit-keyframes animateLine1Rev{
  0%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(45deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
}
@keyframes animateLine1Rev{
  0%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(45deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
}
@-webkit-keyframes animateLine2Rev{
  0%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
  50%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
  100%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
}
@keyframes animateLine2Rev{
  0%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
  50%{
    @include crossBrowser(transform,scale(0));
    opacity:0;
  }
  100%{
    @include crossBrowser(transform,scale(1));
    opacity:1;
  }
}
@-webkit-keyframes animateLine3Rev{
  0%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(-45deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
}
@keyframes animateLine3Rev{
  0%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(-45deg));
  }
  50%{
    @include crossBrowser(transform,translate3d(0,-8px,0) rotate(0deg));
  }
  100%{
    @include crossBrowser(transform,translate3d(0,0,0) rotate(0deg));
  }
}
// NAV MENU OPEN
@-webkit-keyframes animateMenuMobile{
  0%{
    margin-top: 25px;
    opacity: 0;
  }
  100%{
    margin-top: 5px;
    opacity: 1;
  }
}
@keyframes animateMenuMobile{
  0%{
    margin-top: 25px;
    opacity: 0;
  }
  100%{
    margin-top: 5px;
    opacity: 1;
  }
}
@-webkit-keyframes animateMenuDesktop{
  0%{
    margin-left: 25px;
    opacity: 0;
  }
  100%{
    margin-left: 5px;
    opacity: 1;
  }
}
@keyframes animateMenuDesktop{
  0%{
    margin-left: 25px;
    opacity: 0;
  }
  100%{
    margin-left: 5px;
    opacity: 1;
  }
}
// NAV MENU CLOSE
@-webkit-keyframes animateMenuRev{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
@keyframes animateMenuRev{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}
