// PRESET VARIABLES AND MIXINS
@use 'presets';

/* BANNER */
.banner {
  position: relative;
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  .bannerOpacity {
    height: 100%;
    width: 100%;
    background-color: presets.$color-overlay-1;
  }
  .bannerHeader {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -40%);
    width: 100%;
    padding: 0 20px;
    color: presets.$color-dark-text;
    text-align: center;
  }
}
@media (hover: hover) {
  .banner {
    background-attachment: fixed;
  }
}
