// PRESET VARIABLES AND MIXINS
@use 'presets';

/* BREAKS */
.break {
  padding: 100px 20px;
  text-align: center;
  color: #fff;
  background: presets.$color-aqua-1;
  p {
    line-height: inherit;
  }
  .fas {
    display: inline;
  }
}

// BREAK ONE
.breakOne {
  background: -webkit-repeating-linear-gradient(
    left,
    presets.$color-blue-1,
    presets.$color-aqua-1
  );
  background: repeating-linear-gradient(
    left,
    presets.$color-blue-1,
    presets.$color-aqua-1
  );
}
// BREAK TWO
.breakTwo {
  background: -webkit-repeating-linear-gradient(
    left,
    presets.$color-aqua-1,
    presets.$color-blue-1
  );
  background: repeating-linear-gradient(
    left,
    presets.$color-aqua-1,
    presets.$color-blue-1
  );
}
