// PRESET VARIABLES AND MIXINS
@use 'presets';

/* FOOTER */
.footer {
  background-color: presets.$color-overlay-2;
  a {
    color: presets.$color-gray-2;
    &:hover {
      color: presets.$color-aqua-1;
    }
  }
  .header {
    display: block;
    margin-bottom: 50px;
  }
  .fab {
    font-size: 1.5em;
    padding: 0 10px;
  }
}
