// PRESET VARIABLES AND MIXINS
@use 'presets';

/* PHOTOGRAPHY */
.photography {
  .sectionContent {
    text-align: center;
  }
  .continentsList {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 0 0;
    font-family: 'Comfortaa', sans-serif;
    .continents {
      padding: 0 15px;
      margin-bottom: 10px;
      color: presets.$color-aqua-1;
      @include presets.crossBrowser(transition, 0.3s ease-out);
      &:hover {
        cursor: pointer;
        color: presets.$color-gray-1;
        text-decoration: underline;
        @include presets.crossBrowser(transition, 0.3s ease-out);
      }
    }
    .active {
      color: presets.$color-gray-1;
      text-decoration: underline;
      &:hover {
        cursor: default;
      }
    }
  }
  &.portfolio {
    .photos {
      padding: 5px;
    }
    .portfolioSlide {
      img {
        @include presets.crossBrowser(border-radius, 4px);
      }
    }
    .portfolioOverlay {
      background-color: presets.$color-overlay-1;
    }
    .portfolioModalBody {
      text-align: center;
      button {
        padding: 10px 20px;
        margin-bottom: 10px;
        background-color: transparent;
        font-family: 'Comfortaa', sans-serif;
        font-size: 1em;
        color: presets.$color-aqua-1;
        border: 1px solid presets.$color-gray-1;
        @include presets.crossBrowser(border-radius, 4px);
        @include presets.crossBrowser(transition, 0.3s ease-out);
        &:hover {
          cursor: pointer;
          color: #fff;
          background-color: presets.$color-aqua-1;
          border: 1px solid presets.$color-aqua-1;
          @include presets.crossBrowser(transition, 0.3s ease-out);
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .photography {
    .continentsList {
      .continents {
        display: inline-block;
        margin-bottom: 0;
      }
    }
  }
}
