// PRESET VARIABLES AND MIXINS
@use 'presets';

/* SECTIONS */
.section {
  margin: 0 20px;
  .sectionContainer {
    max-width: 1200px;
    margin: 0 auto;
  }
  .sectionHeader {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      display: inline-block;
      &:after {
        content: '';
        display: block;
        width: 50%;
        height: 2px;
        background-color: presets.$color-aqua-1;
        position: relative;
        bottom: -10px;
        left: 50%;
        @include presets.crossBrowser(transform, translate(-50%, 0));
      }
    }
  }
}
.sectionPadding {
  padding: 50px 0 50px;
}
@media (min-width: 768px) {
  .section {
    .sectionContent {
      &:after {
        content: ' ';
        display: block;
        min-height: 0;
        clear: both;
      }
    }
    .sectionHeader {
      margin-bottom: 75px;
    }
    .w50 {
      width: 50%;
    }
    .sectionColumn {
      float: left;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .sectionPadding {
    padding: 100px 0 75px;
  }
}
