// PRESET VARIABLES AND MIXINS
@use 'presets';

/* SKIP CONTENT */
.skipContent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9000;
  color: #fff;
  ul {
    list-style: none;
  }
  li {
    position: absolute;
    width: 100%;
  }
  a {
    text-decoration: none;
    position: fixed;
    left: -999px;
    &:focus {
      background: #000;
      color: #fff;
      left: 50px;
      padding: 3px 10px;
    }
  }
}
