body, html {
	height: 100%;
  padding: 0;
	margin: 0;
}
#myDiv {
  display: none;
  height: 100%;
}
/*loader*/
#loader {
  position: absolute;
  left: 50%;
  top: 33%;
  margin-left: -25px;
  width: 50px;
  height: 50px;
  border: 10px solid #9C9C9C;
  border-top: 10px solid #D15900;
  border-radius: 50%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*animate site*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2s;
  animation-name: fade;
  animation-duration: 2s
}
@-webkit-keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}
.move {
  position: absolute;
  -webkit-animation-name: move;
  -webkit-animation-duration: 2s;
  -webkit-animation-delay: 2s;
  -webkit-animation-fill-mode: both;
  animation-name: move;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}
@-webkit-keyframes move {
  from { top: -100px }
  to { top: 0px }
}
@keyframes move {
  from { top: -100px }
  to { top: 0px }
}
/*header*/
div.header {
  position: absolute;
  background-color: #272727;
  width: 100%;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 2;
}
div.header .logo_pt1 {
  position: absolute;
  left: 5%;
  top: 15px;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', 'Consolas', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #FFFFFF;
}
div.header .logo_pt1 a, div.header .logo_pt1 a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
div.header .logo_pt1 a:hover {
  color: #D15900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
div.header span.logo_pt2 {
  font-size: 1.2em;
  color: #D15900;
}
div.header ul {
  position: absolute;
  right: 5%;
  top: 20px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: 'Josefin Sans', 'Consolas', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #FFFFFF;
  letter-spacing: 5px;
}
div.header li {
  display: inline-block;
  padding-left: 40px;
}
div.header li a, div.header li a:visited {
  text-decoration: none;
  color: #FFFFFF;
}
div.header li a:hover {
  color: #D15900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
/*body*/
div.bg1 {
	background-image: url(images/2012_0899.jpg);
	opacity: 1;
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
div.body_container1 {
  background-color: #FFFFFF;
}
div.body_container1 .portfolio {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0 40px 0;
}
div.body_container1 .portfolio h1 {
  font-family: 'Josefin Sans', 'Consolas', sans-serif;
  font-weight: 300;
  color: #454545;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 20px;  
}
div.body_container1 .img_container {
	display: -webkit-flex;
	display: flex;
	width: 100%;
	height: auto;
}
div.body_container1 .half {
	display: block;
	width: 50%;
	padding: 5px;	
}
div.body_container1 .third {
	display: block;
	width: 33.33333333%;
	padding: 5px;		
}
div.body_container1 .quarter {
	display: block;
	width: 25%;
	padding: 5px;	
}
div.body_container1 img.image {
	display: block;
	width: 100%;
  border-radius: 5px;
}
div.body_container1 img:hover {
	opacity: .75;
  cursor: pointer;
}
div.body_container2 {
  background-color: #D1D1D1;
  padding: 10px;
}
div.body_container2 .about {
  display: block;
  padding: 20px 0 50px 0;
  width: 50%;
  margin: auto;
  font-family: 'Roboto', 'Consolas', sans-serif;
  font-weight: 300;
  text-align: center;
}
div.body_container2 .about h1 {
  font-family: 'Josefin Sans', 'Consolas', sans-serif;
  font-weight: 300;
  color: #454545;
  text-align: center;
  letter-spacing: 5px;
  padding-bottom: 20px;
}
div.body_container2 .about p {
  line-height: 1.5em;
}
div.body_container2 .about a {
  text-decoration: none;
  color: inherit;
  -webkit-animation: etsy 3s ease-in-out 0s infinite;
  animation: etsy 3s ease-in-out 0s infinite;
}
@-webkit-keyframes etsy {
  0% {
    color: #000000;
  }
  50% {
    color: #F56400;
  }
  100% {
    color: #000000;
  }
}
@keyframes etsy {
  0% {
    color: #000000;
  }
  50% {
    color: #F56400;
  }
  100% {
    color: #000000;
  }
}
form input, form textarea {
  background-color: #E9E9E9;
  border: 1px solid #6F6F6F;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  margin: 5px;
  width: 300px;
}
form button {
  background-color: #E9E9E9;
  border: 1px solid #6F6F6F;
  border-radius: 3px;
  color: #000000;
  padding: 5px 15px;
}
form button:hover {
  -webkit-animation: submit 0.5s linear;
  animation: submit 0.5s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes submit {
  from {
    padding: 5px 15px;
    background-color: #E9E9E9;
    color: #000000;
  }
  to {
    padding: 5px 25px;
    background-color: #D15900;
    color: #FFFFFF;    
  }
}
@keyframes submit {
  from {
    padding: 5px 15px;
    background-color: #E9E9E9;
    color: #000000;    
  }
  to {
    padding: 5px 25px;
    background-color: #D15900;
    color: #FFFFFF;      
  }
}
div.body_container2 .info {
  display: inline-block;
  width: 84%;
  padding-left: 2%;
  font-family: 'Roboto', 'Consolas', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
div.body_container2 .info a {
  text-decoration: none;
  color: inherit;
}
div.body_container2 .info a:hover {
  text-decoration: none;
  color: #D15900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
div.body_container2 .social_media {
  display: inline-block;
  font-family: 'Roboto', 'Consolas', sans-serif;
  font-weight: 300;
  font-size: 12px;
}
#etsy, #instagram, #fb {
  color: #6F6F6F;
  padding: 5px;
  font-size: 20px;
}
#etsy:hover {
  color: #F56400;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
#instagram:hover {
  color: #D32E8D;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#fb:hover {
  color: #3B5998;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;  
}
/*thank you*/
div.logo_pt1 {
  position: fixed;
  z-index: 2;
  left: 5%;
  top: 15px;
  padding: 0;
  margin: 0;
  font-family: 'Comfortaa', 'Consolas', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #272727;
}
div.logo_pt1 a, div.logo_pt1 a:visited {
  text-decoration: none;
  color: #272727;
}
div.logo_pt1 a:hover {
  text-decoration: none;
  color: #D15900;
}
span.logo_pt2 {
  font-size: 1.2em;
  color: #D15900;
}
div.bg2 {
	background-image: url(images/small_2014_0115.jpg);
  -webkit-filter: brightness(75%) opacity(25%);
  filter: brightness(75%) opacity(25%);
  height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ty {
  color: #D15900;
  position: absolute;
  top: 25%;
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', 'Consolas', sans-serif;
  font-size: 2em;
  font-weight: 300;
  text-align: center;
}
.ty_footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
/*modal*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 50px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.9);
}
.modal_content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 800px;
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 1s;
	animation-name: zoom;
	animation-duration: 1s;
}
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes zoom {
  from {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.modal_img {
	border-color: #FFFFFF;
	border-width: medium;
	border-style: solid;
	width: 100%;
}
.modal_img:hover {
	opacity: 1;
}
.modal_caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
	font-family: 'Josefin Sans', 'Consolas', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #CCCCCC;
	font-size: 24px;
}
.close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}
.close:hover, .close:focus {
	color: #BBBBBB;
	text-decoration: none;
	cursor: pointer;
}
/*swing animation*/
.image:hover {
  position: relative;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation: shake 1.5s;
  animation: shake 1.5s;
}
@-webkit-keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }  
}
@keyframes shake {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  10% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  20% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  40% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  50% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }
  60% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
  70% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }
  80% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }
  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
    transform: translate3d(-5px, 0, 0);
  }  
}
@media only screen and (max-device-width: 480px) and (orientation: portrait) {
  div.bg1 {
    background-attachment: scroll;
  }
/*header*/
  div.header {
    height: 65px;
  }
  div.header .logo_pt1 {
    font-size: 1.75em;
  }
  div.header ul {
    font-size: 1.75em;
    top: 20px;
  }
/*body*/
  div.body_container1 .portfolio h1 {
    font-size: 5em;
  }
	div.body_container1 .img_container {
    display: inline;
	}
	div.body_container1 .half {
    width: 100%;
		padding: 5px 0;
	}
	div.body_container1 .third {
		width: 100%;
		padding: 5px 0;
	}	
	div.body_container1 .quarter {
		width: 100%;
		padding: 5px 0;
	}
  div.body_container2 {
    padding-bottom: 50px;
  }
  div.body_container2 .about {
    width: 90%;
  }
  div.body_container2 .about h1 {
    font-size: 5em;
  }
  div.body_container2 .about p {
    font-size: 3em;
  }
  form input, form textarea {
    font-size: 2em;
    padding: 10px;
    margin: 5px;
    width: 600px;
  }
  form button {
    font-size: 2em;
    padding: 5px 15px;
  }
  div.body_container2 .info {
    display: block;
    width: 90%;
    padding-left: 0px;
    margin: auto;
    text-align: center;
    font-size: 1.1em;
  }
  div.body_container2 .social_media {
    display: block;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 2em;
  }
  #etsy, #instagram, #fb {
    font-size: 1.5em;
    padding: 25px;
  }
  /*modal*/
  .modal {
    padding-top: 200px;
  }
	.modal_content {
		width: 95%;
		max-width: none;
	}
	.modal_caption {
		font-size: 3em;
	}
	.close {
		font-size: 5em;
	}
}
@media only screen and (max-device-width: 480px) and (orientation: landscape) {
  div.bg1 {
    background-attachment: scroll;
  }
  /*modal*/
	.modal_content {
		width: 50%;
  }
}
@media only screen and (max-device-width: 1024px) {
  div.bg1 {
    background-attachment: scroll;
  }
}