html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: normal 300 16px 'Nunito', sans-serif;
  background: url(../img/background.jpg) no-repeat fixed center;
  background-size: cover;
}
h1 {
  font-family: 'Audiowide', sans-serif;
}
input,
button {
  outline: none;
}
input {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.25);
}
input::placeholder {
  font-size: 14px;
  color: rgba(0,0,0,0.50);
}
canvas {  
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}
#register {
  max-width: 500px;
  margin: 5% auto;
  padding: 10px;
  border-radius: 5px;
  background-color: #D0CCCB;
}
.inputHeader {
  padding-top: 15px;
}
.inputInfo {
  font-size: 10px;
}
.splitContainer {
  display: -webkit-flex;
  display: flex;
}
.split {
  display: inline-block;
  width: 49%;
  margin: 0 auto;  
}
.divTerms {
  padding: 25px 0;
}
#inputTerms,
.textTerms {
  display: inline-block;
}
#inputTerms {
  width: initial;
}
#submit {
  margin: 0 auto;
  padding: 5px 15px;
  border: none;
  background-color: #D5101B;
  color: white;
  font-size: 14px;
}
#submit:hover {
  background-color: white;
  color: black;
}
#error {
  padding-top: 25px;
  font-size: 12px;
  color: #D5101B;
}
#success {
  text-align: center;
}
@media (min-width: 450px) {
  #register {
    padding: 25px;
  }
}
@media (min-width: 769px) {
  canvas {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
}