html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
a {
  color: #898989;
}
a:hover {
  color: #00B6DB;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}
a:focus {
  text-decoration: none;
}
h1, h2 {
  font-family: 'Handlee', cursive;
  color: #00B6DB;
}
.pad_top_100 {
  padding-top: 100px;
}
.pad_top_50 {
  padding-top: 50px;
}
.pad_top_25 {
  padding-top: 25px;
}
.pad_bot_50 {
  padding-bottom: 50px;
}

/*=====NAVBAR=====*/

#navbar {
/*  margin-bottom: 0;*/
}
#navbar {
  background: #FFFFFF;
}
#navbar .navbar-nav>li>a:hover {
  color: #00B6DB;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;  
}
#navbar .logo_img{
  width: 75px;
  margin-top: -12px;
}
#navbar .spacing {
  letter-spacing: 2px;
}
#navbar .navbar-right i {
  padding-right: 5px;
}

/*=====HEADER=====*/

#header.h_home {
	background-image: url(../img/2005_0311.jpg);
	background-attachment: scroll;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;  
	height: 450px;
}
#header.h_services {
	background-image: url(../img/2014_0186.jpg);  
	background-attachment: scroll;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;  
	height: 250px;
}
#header.h_shoppers {
	background-image: url(../img/2005_0320.jpg);
	background-attachment: scroll;
	background-position: bottom ;
	background-repeat: no-repeat;
	background-size: cover;   
	height: 250px;
}
#header.h_about {
	background-image: url(../img/2005_0315.jpg);
	background-attachment: scroll;
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: cover;   
	height: 250px;
}
#header .overlay {
  background-color: rgba(254,226,88,0.9);
  height: 100%;
}
#header h1 {
  margin-bottom: 50px;
}
#header h2, #header h3 {
  margin: 5px;
}
.zoomIn {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
}

/*=====FOOTER=====*/

footer {
  background-color: rgba(254,226,88,0.9);
}
footer i {
  padding-right: 5px;
}
#brandon:hover {
  color: #009EC8;
}
#brandon span {
  color: #009EC8;
}

/*=====MEDIA=====*/

@media (min-width: 1025px) {
  #header.h_home {
    background-attachment: fixed;
    background-position: bottom;
  }
}
@media (min-width: 768px) {
  #navbar .navbar-nav>.active>a, #navbar .navbar-nav>.active>a:hover {
    border-top: 2px solid #00B6DB;
    background-color: transparent;
    color: #00B6DB;
  }
  #navbar .navbar-nav li a {
    border-top: 2px solid transparent;
  }
  #navbar .navbar-nav li a:hover {
    border-top: 2px solid #00B6DB;
    -webkit-transition: all .5s ease-out;
    transition: all .5s ease-out;
  }  
  #header h1 {
    font-size: 56px;
  }
}