@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
}
body,
html {
  margin: 0;
  padding: 0;
}
button {
  padding: 10px 20px;
  margin: 25px 50px;
  border: none;
  border-radius: 2px;
  background: #fdfdfd;
  font: normal 400 16px 'Lato', sans-serif;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button:hover {
  cursor: pointer;
  background: #f0f0f0;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
button:active,
button:focus {
  outline: none;
}
#show {
  margin: 0 auto;
  background-color: white;
  width: 70%;
  height: 400px;
  overflow: hidden;
}
#show #reel {
  width: 16000px;
  height: 400px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#show #reel #slideOne,
#show #reel #slideTwo,
#show #reel #slideThree,
#show #reel #slideFour {
  height: 400px;
  float: left;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#show #reel #slideOne {
  background-color: bisque;
}
#show #reel #slideTwo {
  background-color: cadetblue;
}
#show #reel #slideThree {
  background-color: aquamarine;
}
#show #reel #slideFour {
  background-color: tomato;
}
#show #reel .right {
  float: right;
}
