html,body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font: normal 300 16px 'Nunito', sans-serif;
  background: #0E8E97;
  color: #0A0A0A;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
}
.layer {
  height: 100%;
}
h1 {
  font-size: 64px;
}
button {
  display: block;
  padding: 2px 20px;
  margin: 20px auto;
  border: 0;
  border-radius: 2px;
  letter-spacing: 1px;
  color: #F2F2F2;
  outline: none;
  background: #0E8E97;
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}
button:hover {
  box-shadow: 0px 0px 10px 2px rgba(12,72,157,0.50);
  -webkit-transition: box-shadow .3s ease-out;
  transition: box-shadow .3s ease-out;
}
#page {
  background: #F2F2F2;
  min-height: 100%;
  padding-bottom: 50px;
  box-shadow: 0 0 8px 8px rgba(255,255,255,0.10);
}
#header {
  margin: 0 -15px;
  padding: 25px 15px 35px;
  font-family: 'Concert One', sans-serif;
  color: #F2F2F2;
  filter: hue-rotate(0deg);
  background: linear-gradient(45deg,#0E8E97,#0D9723);
  animation: hue 10s infinite linear;
  -webkit-animation: hue 10s infinite linear;
}
@keyframes hue {
  0% { filter: hue-rotate(0deg);}
  100% { filter: hue-rotate(360deg);}
}
@-webkit-keyframes hue {
  0% { filter: hue-rotate(0deg); }
  100% { filter: hue-rotate(360deg); }
}
#image {
  max-width: 200px;
  margin: 50px auto 0;
  -webkit-filter: drop-shadow(3px 3px 3px rgba(50, 50, 50, 0.25));
  filter: drop-shadow(3px 3px 3px rgba(50, 50, 50, 0.25));
}
#story {
  text-align: justify;
  line-height: 1.75;
  margin: 50px 0;
}
@media (min-width: 1024px) {
  #image {
    max-width: 400px;
  }
}