body {
  margin: 0;
  padding: 0;
  font: normal 400 16px 'Nunito', sans-serif;
  color: #656565;
}
a {
  color: #519E4B;
}
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: inherit;
}
input,
textarea,
button {
  outline: none;
}
input,
textarea {
  display: block;
  width: 100%;
  margin: 10px auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
button {
  display: block;
  margin: 25px auto;
  border: none;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.75);
  color: #FFFFFF;
}
img:hover,
button:hover {
  box-shadow: 0 0 20px 10px rgba(77, 77, 77, 0.2);
}
span {
  display: none;
}
h1,
h2,
h3 {
  font-weight: 700;
}
h1 {
  font-size: 62px;
  padding-bottom: 50px;
  color: #000000;
}
.fa {
  font-size: 36px;
}
#header {
  padding: 50px 0;
}
#header h3 {
  text-align: justify;
  padding: 25px 0;
}
#example {
  max-width: 500px;
  margin: 25px auto;
}
.page {
  color: #FFFFFF;
  text-align: center;
  padding: 50px 0;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  border-right: 1px solid rgba(0, 0, 0, 0.25);
}
.page:hover {
  cursor: pointer;
  background-color: #E9E9E9;
  color: #000000;
}
.one {
  background-color: #519E4B;
}
.two {
  background-color: #4B989E;
}
.three {
  background-color: #554B9E;
}
.four {
  background-color: #9E4B58;
}
#button {
  text-align: center;
  padding: 50px 0 100px;
}
.modal-content {
  background-color: #F5F5F5;
  color: #000000;
}
.modal-content .close {
  font-size: 36px;
}
.modal-content .close:hover {
  box-shadow: none;
}
#newStory {
  text-align: center;
}
#newStory .error {
  color: red;
}
#newStory button {
  font-size: 24px;
}
@media (min-width: 768px) {
  span {
    display: initial;
  }
}
