* {
  box-sizing: border-box;
}
body,html {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  font: normal 400 16px 'Titillium Web', sans-serif;
  background: linear-gradient(90deg, #6BB7C1, #A4D3D9, #6BB7C1);
  color: #000000;
}
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: #000000;
}
h1 {
  font-family: 'Chewy', sans-serif;
  font-size: 80px;
  color: #2E4E74;
  text-align: center;
  margin-top: 50px;
}
p {
  font-size: 18px;
  margin: 0 auto;
  padding: 20px 20px 0;
  color: #2E4E74;
  text-align: center;
}
input[type=checkbox] {
  display: none;
}
.btn:active:focus,
.btn:focus {
  outline: none;
}
.btn-default {
  border: none;
  color: white;
  width: 100%;
  margin: 2px 0;
  font-size: 18px;
}
.btn.active,
.btn:active,
.btn-default:hover,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default:active,
.btn-default:active:hover,
.btn-default:active:focus {
  background-color: white;
  outline: none;
}
.color1 {
  background-color: #3F6A9C;
}
.color2 {
  background-color: #3F949C;
}
#countryList {
  margin: 0 auto;
  padding: 50px 10%;
  column-count: 3;
}
#submitButton,
#shareButton {
  text-align: center;
  padding: 20px;
}
#submit {
  font-family: 'Chewy';
  background-color: white;
  border: none;
  padding: 10px 25px;
}
#submit:hover {
  box-shadow: 0 0 20px 5px rgba(0,0,0,0.1);
}
#submit:active,
#submit:active:focus,
#submit:focus {
  outline: none;
  box-shadow: none;
}
#map {
  width: 100%;
  height: 600px;
  margin: 50px 0;
}
#congrats {
  font-size: 20px;
  margin: 0 auto;
  padding: 0 20px 10px;
  color: #2E4E74;
  text-align: center;
}
#submitButton,
#visitedList {
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
  padding-bottom: 100px;
  color: #2E4E74;
}
#shareButton {
  font-size: 20px;
  width: 400px;
  margin: 0 auto;
  color: #2E4E74;
}
@media (max-width: 1200px) {
  #countryList {
    column-count: 2;
  }
}
@media (max-width: 800px) {
  #countryList {
    column-count: 1;
    padding: 50px 20%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 65px;
    margin-top: 25px;
    padding: 0 5%;
  }
  #countryList {
    padding: 25px 10%;
  }
  #submitButton,
  #shareButton,
  #visitedList {
    width: 100%;
  }
}
@media (max-width: 450px) {
  #countryList {
    column-count: 1;
    padding: 25px 5%;
  }
}
@media (max-width: 350px) {
  .btn-default {
    font-size: 16px;
  }
}
@media (hover: none), (hover: on-demand) {
  .btn-default:hover {
    background-color: rgba(180,182,184,0.50);
  }
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  from, 20%, 53%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
}
