html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font: normal 400 16px 'Nunito', sans-serif;
  background-color: #070D2B;
}
canvas {  
  background: #000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
}
h1 {
  text-align: center;
  color: white;
  background-color: black;
}
button {
  margin: 5px 20px;
  padding: 5px 20px;
  border: none;
  background-color: white;
  outline: none;
}
#buttonContainer {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: 24px;
}
#moveLeft {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 30px;
  margin-right: 50px;
}
#leftTriangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid white;
}
#leftRectangle {
  width: 15px;
  height: 8px;
  background-color: white;
  vertical-align: middle;
}
#moveRight {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  width: 30px;
  margin-left: 50px;
}
#rightTriangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid white;
}
#rightRectangle {
  width: 15px;
  height: 8px;
  background-color: white;
  vertical-align: middle;
}
@media (min-width: 420px) {
  canvas {
    position: relative;
    left: 50%;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
  }
}